<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to our group, <% @user.name %>!</title>
  </head>
  <body>
    <p>
      Thanks for joining 99Cats, the world's formost authority on cat rental
      and feline services. Here, you can choose from any number of our available
      cats, including fur patterns like calico, tabby, black, white, spotted,
      and the eternally popular lemon ice cream shade (produced by rubbing a
      tabby on a white cat for fifteen to twenty minutes, a service we happily
      provide.)
    </p>
  </body>
</html>
